.createCard {
  grid-area: cc;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  background-color: #282c34;
  padding: 20px;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;

}

.buttons button {
  border: none;
  background-color: dimgrey;
  color: white;
}